{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container">
<img src="{% static 'images/home.jpg' %}" alt="Dentist" style="width:100%; height: 80%; filter: blur(3px);">

  <div class="text-block">
    <h4>Find the perfect doctor for your needs!</h4>
            <h3>DENTIST</h3>
            <p>For all your teething problems</p>

            <h3>GENERAL PHYSICIAN</h3>
            <p>Find the perfect family doctor</p>

            <h3>PEDIATRICIAN</h3>
            <p>Find the right specialist for your child</p>

            <h3>OPTHALMOLOGIST</h3>
            <p>For all your eye problems</p>

            <h3>GYNECOLOGIST</h3>
            <p>For women's health, pregnancy and infertility related problems</p>

  </div>
</div>
{% endblock %}